* {
    margin: 0;   
    color: #ffff; 
    font-family:"Raleway", sans-serif;
}

body {
    background-color: #000000;
}

.banner {
    background: linear-gradient(rgba(49, 169, 221, 0.415), rgb(0, 0, 0)), 
    url(/assets/images/banner.png);
    width: 100% auto;
    height: 605px;
}

.logo{
    text-align: center;
}

.banner, h1, p, button {
    text-align: center;
    padding: 16px 0 16px 0;
}

.banner h1 {
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size: 40px;
}

.banner p {
    font-weight: 400;
    font-size: 20px;
    width: 520px;
    height: 46px;
    margin: 0 auto;
    padding: 2% 0 2% 0;
}

.banner button {
    border: solid 2px;
    border-image: linear-gradient(#3BA1CD, #1572B7);
    border-image-slice: 1;
    width: 326px;
    font-size: 25px;
    font-weight: 700;
    height: 67px;
    background: none;
    cursor: pointer;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

#course-content {
    text-align: center;
    padding: 20px 0 50px 0;
}

#course-content h2 {
    font-weight: 700;
    font-size: 32px;
    margin: 0 auto;
    padding: 0 0 20px 0;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    letter-spacing: 10px;
}

#course-content p {
    width: 792px;
    height: 38px;
    font-weight: 400;
    font-size: 16px;
    margin: 0 auto;
}

.module{
    border: 2px solid #33A8DB;
    width: 535px;
    height: 51px;
    border-radius: 57px;
    margin: 20px auto;
    align-content: center;
    background-color: #252525;
}

.module span {
    color: #33A8DB;
}

#transform-world {
    background: url(/assets/images/woman-code.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 363px;
}

#transform-world p {
    text-align: left;
    padding: 5% 0 0 15%;
    font-weight: 900;
    font-size: 40px; ;
    text-shadow: 2px 3px #33A8DB;
    text-transform: lowercase;
}

#professional-challenges {
    text-align: center;
}

#professional-challenges p {
    width: 792px;
    height: 76px;
    font-weight: 400;
    font-size: 16px;
    margin: 0 auto;

}

#professional-challenges h2 {
    font-weight: 700;
    font-size: 32px;
    margin: 0 auto;
    padding: 5% 0 3% 0;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    background: -webkit-linear-gradient(#33A8DB, #1473b7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer {
    text-align: center;
    padding: 10% 0 2% 0;
    background: linear-gradient(rgba(0, 0, 0, 0.415), rgba(49, 169, 221, 0.415));
    font-weight: 400;
    font-size: 16px;
}

footer a {
    background: -webkit-linear-gradient(#33A8DB, #1473b7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
